/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */

@media only screen and (max-width : 991px) {
	
	.h1,.h4,.desc{
		text-align: center;
	}
	.mac_logo{
		display: none;
	}

	
	.col-md-6 a{
		float:none;
		margin: 10px auto;
		width: 200px;
		text-align: center;

	}
	.our_portfolio .col-md-6{
		padding: 10px 0;
	}
	.one , .two{
		display: none;
	}
	.team .col-md-3{
		padding: 15px 0;
	}
	.news img {
		margin: 20px 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	.dest{
		padding-top: 90px;
	}
	.pic-hidden{
		display: none;
	}
	.banner .info{
		background-image: url(../img/g9.jpg);
		background-position: center;
		background-size: cover;
		height: 400px;
		width: 100%;
		position: relative;
		background-repeat: no-repeat;
	}
	.banner .info:before{
		position: absolute;
		content: '';
		background-color: #000;
		top: 0;
		left: 0;
		width: 100%;
		height: 400px;
		z-index: 1;
		opacity: 0.5;
	}
	.banner .info .girlianda, .make-magic, .btn-order, h1{
		position: relative;
		z-index: 2;
	}
	.contact .name, .surname{
		width: 80%;
	}
	.short-info ul{
		margin-top: 0;
		padding-bottom: 50px;
		margin-left: -20px;
	}
	

	.main_link li {
		display: block;
		text-align: left;

	}
	

	
}



/*Disable Animation on Mobile Devices*/
.animated {
	/*CSS transitions*/
	-o-transition-property: none !important;
	-moz-transition-property: none !important;
	-ms-transition-property: none !important;
	-webkit-transition-property: none !important;
	transition-property: none !important;
	/*CSS transforms*/
	-o-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	/*CSS animations*/
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 425px) {
	.sales h1{
		font-size: 18px;
	}
	.img-1, .img-3, .img-4, .img-5, .img-6{
		height: 150px;
	}
}
@media only screen and (max-width : 358px) {
	.small-screen{
		margin-top: 10px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.col-md-6 a {
		float:none;	
		margin: 10px auto;
	}
	.h1 {
		padding-top: 70px;
	}
}

@media only screen and (max-width: 768px){

	nav ul{
		display: none;
	}

	.short-info iframe{
		margin-top: 30px;
	}
}
@media only screen and (max-width: 341px){
	.offset-seconds{
		margin-top: 10px;
	}
	.short-info h1{
		padding: 0 10px 20px 10px;
	}
}
@media only screen and (max-width: 1024px){
	.diagonal-linia:before{
		content: '';
		background-color: red;
		position: absolute;
		width: 65%;
		top: 240px;
		transform: rotate(3deg);
		height: 2px;
	}
	.banner .info{
		padding: 35px 0;
	}
	.banner .info h1{
		font-size: 24px;
	}
	.banner .info .girlianda{
		font-size: 24px;
	}
}
@media only screen and (max-width: 425px){
	.dest{
		padding-top: 65px;

	}
}

@media screen and (max-width: 768px) and (min-width: 320px) {	
	.diagonal-linia:before{
		content: '';
		background-color: red;
		position: absolute;
		width: 29%;
		top: 23px;
		transform: rotate(3deg);
		height: 2px;
	}
	.dest a{
		font-size: 12px;
		padding: 10px 15px;
	}
	.banner .info{
		padding: 80px 10px 0 10px;
	}
	.banner .info h1{
		font-size: 26px;
	}
	.banner .info .btn-order{
		text-transform: uppercase;
		font-size: 14px;
	}
}

@media screen and (max-width: 425px) and (min-width: 425px) {
	.banner .info{
		
	}
	.short-info h1{
		padding: 20px 10px;
	}
}

@media screen and (max-width: 768px) and (min-width: 425px){
	.img-1, .img-2, .img-3, .img-4, .img-5, .img-6, .img-7, .img-8{
		height: 200px;
	}
}
@media screen and (max-width: 425px) and (min-width: 320px){
	.img-1, .img-2, .img-3, .img-4, .img-5, .img-6, .img-7, .img-8{
		height: 150px;
	}
	.diagonal-linia:before{
		content: '';
		background-color: red;
		position: absolute;
		width: 55%;
		top: 25px;
		transform: rotate(3deg);
		height: 2px;
	}
}
@media screen and (max-width: 375px) and (min-width: 320px) {
	.banner .info{
		padding: 45px 5px 0 5px;
	}
	.diagonal-linia:before{
		content: '';
		background-color: red;
		position: absolute;
		width: 61%;
		top: 25px;
		transform: rotate(3deg);
		height: 2px;
	}
	.footer{
		line-height: 1;
	}
}
@media screen and (max-width: 366px) and (min-width: 320px){
	
	.banner .info .make-magic{
		font-size: 14px;
	}
	.banner .info h1{
		font-size: 24px;
	}
}
@media screen and (max-width: 428px) and (min-width: 376px) {
	.banner .info{
		padding: 65px 10px 0 10px;
	}
}
@media screen and (max-width: 768px) and (min-width: 768px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.diagonal-linia:before{
		content: '';
		background-color: red;
		position: absolute;
		width: 71%;
		top: 20px;
		transform: rotate(3deg);
		height: 2px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.diagonal-linia:before{
		content: '';
		background-color: red;
		position: absolute;
		width: 55%;
		top: 251px;
		transform: rotate(3deg);
		height: 2px;
	}
}
/* Extra Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.diagonal-linia:before{
		content: '';
		background-color: red;
		position: absolute;
		width: 47%;
		top: 210px;
		transform: rotate(3deg);
		height: 2px;
	}
}
/* Extra Extra Large Devices, Wide Screens */
@media only screen and (min-width : 2560px) {
	.diagonal-linia:before{
		content: '';
		background-color: red;
		position: absolute;
		width: 26%;
		top: 185px;
		transform: rotate(3deg);
		height: 2px;
	}
}


